<div id="lhs-bar">
    <!-- Profile Picture -->
    <img id="profile-pic" src="../../assets/images/headshot.png" />

    <!-- Navigation Bar -->
    <div>
        <nav id="navbar">
            <ul id="navlinks">
                <li class="navlink">
                    <a routerLink="">Home</a>
                </li>

                <li class="navlink">
                    <a routerLink="/about">About Me</a>
                </li>

                <li class="navlink">
                    <a routerLink="/resume">Resume</a>
                </li>

                <li class="navlink">
                    <a routerLink="/portfolio">GitHub Portfolio</a>
                </li>

                <li class="navlink">
                    <a routerLink="/contact">Contact</a>
                </li>
            </ul>
        </nav>

        <!-- Contact Info -->
        <div id="contact-info">
            
        </div>
    </div>
</div>