<form #form="ngForm" id="email-form" class="form-group" (ngSubmit)="submit(form)">
    <!-- User Email -->
    <input required type="email" placeholder="Enter your email" id="email" name="email" #email="ngModel" class="form-control" ngModel>
    
    <!--  Email Subject -->
    <input type="text" placeholder="Enter the email subject" id="email-subject" name="subject" #subject="ngModel" class="form-control" ngModel>
    
    <!-- Email Body -->
    <input required type="text" placeholder="Enter email body" id="email-body" name="body" #body="ngModel" class="form-control" ngModel>

    <button id="submit-button" type="submit">Send!</button>
</form>